.header-section {
    border: 1px solid black;
    background-color: #000099;
    height: 70px;
}

.dropdown {
    margin-top: 5px;
    float: left;
}

.header-section .btn {
    background-color: #000099;
    color: white;
}

.icon-logo {
    margin-top: 20px;
    margin-left: 10px;
    max-width: 90px !important;
    height: 30px !important;
    float: left;
}

.header-icons:hover {
    cursor: pointer;
}

.icon-flag {
    float: right;
    height: 25px !important;
    width: auto;
    margin-top: 20px;
    padding-left: 10px;
    border-left: 1px solid white;
}

.icon-user {
    float: right;
    height: 25px !important;
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
}

#booking-bar{
    padding: 100px 0 120px 0;
}

#dropdownMenuButton:hover {
    cursor: pointer;
    color: #cccccc;
}

.ProgressBar {
    margin: 0 auto;
    padding: 2em 0 3em;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .ProgressBar-step {
    text-align: center;
    position: relative;
    width: 100%;
  }

  .ProgressBar-step:before, .ProgressBar-step:after {
    content: "";
    height: 0.5em;
    background-color: #9F9FA3;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .ProgressBar-step:first-child:before, .ProgressBar-step:first-child:after {
    display: none;
  }

  .ProgressBar-step:after {
    background-color: #00637C;
    width: 0%;
  }
  .ProgressBar-step.is-complete + .ProgressBar-step.is-current:after, .ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
    width: 100%;
  }

  .ProgressBar-icon {
    width: 1.5em;
    height: 1.5em;
    background-color: #9F9FA3;
    fill: #9F9FA3;
    border-radius: 50%;
    padding: 0.5em;
    max-width: 100%;
    z-index: 10;
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .is-current .ProgressBar-icon {
    fill: #00637C;
    background-color: #00637C;
  }

  .is-complete .ProgressBar-icon {
    fill: #DBF1FF;
    background-color: #00637C;
  }

  .ProgressBar-stepLabel {
    display: block;
    text-transform: uppercase;
    color: #9F9FA3;
    position: absolute;
    padding-top: 0.5em;
    width: 100%;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .is-current > .ProgressBar-stepLabel, .is-complete > .ProgressBar-stepLabel {
    color: #00637C;
  }

  .wrapper {
    max-width: 1000px;
    margin: 4em auto;
    font-size: 16px;
  }

  #previous{
      margin-right: 850px;
  }

  #bilde{
      width: 1000px;
  }

  #booking-bar{
      margin-left: 60px;
  }

  #booking-bar input{
      padding: 10px 15px;
      border: 1px solid #C0C0C0;
      box-sizing: border-box;
  }

  .border-left{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
  }
  
  .border-right{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
